default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: estudy_development

test:
  <<: *default
  database: estudy_test

production:
  <<: *default
  database: estudy_production
  username: estudy
  password: <%= ENV['ESTUDY_DATABASE_PASSWORD'] %>
