.btn-actions{
  margin-top:5px;
}

.ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.wysiwyg-editor {
  min-height: 100px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.form-control.wysiwyg-editor > .ta-bind {
  height: auto;
  min-height: 100px;
  padding: 6px 12px;
}