.messages-list{
  width: 65%;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  max-height: 60%;
  border: 1px solid lightgrey;
  .message{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    .data-wrapper {
      padding:10px;
      border-radius:10px;
      max-width: 50%;
      &.left-flow {
        float: left;
        background-color: lightgrey;
      }
      &.right-flow {
        float: right;
        background-color: lightgreen;
      }
      .user-avatar{
        float: left;
      }
      .text{
        padding-left: 30px;
        margin-left: 10px;
      }
    }
  }
}